@model WebStore.Models.Employee

@{ 
    ViewData["Title"] = "Details";
}

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>id</th>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Patronymic</th>
            <th>Age</th>
            <th>e-mail</th>
            <th>Edit</th>
        </tr>
        <tr>
            <td>@Model.id</td>
            <td>@Model.Lastname</td>
            <td>@Model.Name</td>
            <td>@Model.Patronymic</td>
            <td>@Model.Age</td>
            <td>@Model.email</td>
            <td><a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-success">Edit</a></td>
        </tr>
    </table>
    <hr />
    <a asp-controller="Employees" asp-action="EmployeesList">Back to List</a>
</div>