@model IEnumerable<WebStore.Models.Employee>

@{
    ViewData["Title"] = "Employees List";
}

<hr />
<a asp-controller="Employees" asp-action="Edit" class="btn btn-success">Добавить</a>
<hr />

<table class="table">
    <tr>
        <th>id</th>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Patronymic</th>
        <th>Age</th>
        <th>e-mail</th>
        <th>Control</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.Lastname</td>
            <td>@item.Name</td>
            <td>@item.Patronymic</td>
            <td>@item.Age</td>
            <td>@item.email</td>
            <td>
                <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.id"><i class="fa fa-info"></a>
                <a asp-action="Edit" asp-route-id="@item.id"><i class="fa fa-edit"></a>
            </td>
        </tr>
    }
</table>
<hr />
<a asp-controller="Home" asp-action="Index">Home</a>