@model IEnumerable<WebStore.Models.Employee>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Patronymic</th>
                <th>Age</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.id</th>
                    <th>@item.Name</th>
                    <th>@item.Lastname</th>
                    <th>@item.Patronymic</th>
                    <th>@item.Age</th>
                </tr>
            }
        </thead>
    </table>
</body>
</html>
